*,
*::before,
*::after {
    box-sizing: border-box;
}


ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1;
    color: #000;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.sideNavBar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    width: 50px;
    height: 100vh;
    box-shadow: 5px 0.1px 5px gray;
    transition: .2s linear;
}
.sideNavBar a::first-letter{
    visibility: visible;
    font-size: 80px;
}
.sideNavBar a{
    visibility: hidden;
    opacity: 0.1;
    padding-left: 5px;
}
.sideNavBar:hover {
    width: 150px;
    transition: .1s all ease-in-out;
}
.sideNavBar:hover a{
    visibility: visible;
    opacity: 1;
    transition: .5s all ease-in-out;
}
.header {
    margin-left: 200px;
}
.logo-name{
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 200px;
    height: 240px;
    margin-top: 20px;
    background-image: url('../img/logoUpdate4.svg');
    cursor: pointer;
}
.logo {
    animation: 5s linear 0s normal none infinite running logo;
  }
  @keyframes logo {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.logo:hover{
    animation: 5s linear 0s normal none infinite running ;
}
.name {
    font-size: 168px;
}
.surname-spec{
    display: flex;
}
.surname{
    margin-top: 0px;
    margin-left: 400px;
    font-size: 168px;
}
.spec{
    padding-top: 20px;
    font-size: 20px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.spec p:last-child{
    padding-left: 160px;
}
.projects {

}
.carousel-3d {
    padding: 20px;
    -webkit-perspective: 500px;
    perspective: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.carousel-3d > * {
    flex: 0 0 auto;
}
.carousel-3d figure {
    margin: 0;
    width: 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}
.carousel-3d figure img,
.carousel-3d figure div {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}
.carousel-3d figure img {
    user-select: none;
}
.carousel-3d figure div:not(:first-of-type),
.carousel-3d figure img:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
}


@media(max-width: 1730px){ 
 
} 
@media(max-width: 1650px){ 
     
} 
@media(max-width: 1460px){ 
     
} 
@media(max-width: 1360px){ 
     
} 
@media(max-width: 1260px){ 
     
} 
@media(max-width: 1160px){ 
 
} 
@media(max-width: 992px){ 
     
}